* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(36, 187, 140, 0.02);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
}

.middle_block {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 20px;
  width: 573px;
  height: 324px;
  flex: none;
}

h1 {
  width: 573px;
  height: 246px;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.5px;
  color: #101828;
  flex: none;
}

b {
  color: #7F56D9;
}

h2 {
  width: 487px;
  height: 58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #646464;
  flex: none;
}

h4 {
  width: 178px;
  height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  flex: none;
}

h5 {
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 157px;
  height: 60px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.collaborators {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 55px;
  position: absolute;
  width: 1127.14px;
  height: 70px;
  left: 116px;
  top: 783px;
}

/* color 1 - #7F56D9 */
/* color 2 - #F9F5FF */
/* color 3 - #D0D5DD */
/* color 4 - #101828 */
/* color 5 - rgba(36, 187, 140, .02) */
